<button (click)="addMockUser()"> + Add another user</button>
<button (click)="removeMockUser()"> x Remove first user</button>

<br>
<input #filterInput
       type="text"
       placeholder="Filter by name..." />

<table>
  <thead>
    <tr>
      <th> id <button (click)="sortMockUsers('id')">Sort</button> </th>
      <th> role <button (click)="sortMockUsers('role')">Sort</button> </th>
      <th> name <button (click)="sortMockUsers('name')">Sort</button> </th>
      <th> avatar </th>
      <th> age <button (click)="sortMockUsers('age')">Sort</button> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of mockUsers">
      <td> {{user.id}} </td>
      <td> {{user.role}} </td>
      <td> {{user.name}} </td>
      <td> <img src="{{user.avatar}}" /> </td>
      <td> {{user.age}} </td>
    </tr>
  </tbody>
</table>