<button class="toggle"
        (click)="toggleData()">
  {{usesMockData ? 'Use API data' : 'Use mock data'}}
</button>
<button (click)="usesMockData? addMockUser() : addUser()"> + Add another user</button>
<button (click)="usesMockData? removeMockUser() : removeUser()"> x Remove first user</button>

<br>
<input *ngIf="!usesMockData"
       #filterInput
       type="text"
       placeholder="Filter by name..." />

<table>
  <thead>
    <tr>
      <th> id </th>
      <th> role </th>
      <th> name </th>
      <th> avatar </th>
      <th> age </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usesMockData ? mockUsers : users">
      <td> {{user.id}} </td>
      <td> {{user.role}} </td>
      <td> {{user.name}} </td>
      <td> <img src="{{user.avatar}}" /> </td>
      <td> {{user.age}} </td>

    </tr>
  </tbody>
</table>