.app-content {
  display: flex;
  height: 100%;

  app-menu {
    width: 260px;
  }

  .page-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    background-color: #dde3ef;
  }
}